
<!DOCTYPE html>
<html>

<body>
<h1>Meow Matches</h1>
	 {% for result in results_dict %}
         <img src={{results_dict[result]["photos"]}} width=150 height=150 alt={{key}}/>
         <br>
        {{results_dict[result]["name"]}}
         <br>
         {{results_dict[result]["gender"]}}
         <br>
         {{results_dict[result]["age"]}}
         <br>
         <a href={{results_dict[result]["url"]}}>View Listing </a>
         <br>
         {{results_dict[result]["description"]}}
         <br>
         {{results_dict[result]["distance"]}}
         <br>
         <br>
         <br>
         {{love_data[results_dict[result]["name"]]["percentage"]}}
         <br>
         {{love_data[results_dict[result]["name"]]["result"]}}
         <br>
         <br>
         <br>
         <br>
         <br>

   {% endfor %}
    </div>
    </div>
</body></html>
