<!DOCTYPE html>
<html>

<head>
    <title>My Form</title>
</head>

<body>
Find your purrfect match!<br/>
<br/>
    <form action="gresponse" method="get">
        <label for="location">What is your zip code?</label>
        <input type="text" id="zipcode" name="location" value=""
        <br/>
        <br/>
        <label for="distance">How far are you willing to travel? (in miles)</label>
        <input type="text" id="distance" name="distance" value=""
        <br/>
        <br/>
        <br/>
        <br/>
        If you would like random results check the following!
        <br/>
        <input type="checkbox" name="surprise_me" value="true" id="surprise" />
        <label for="surprise">Suprise Me!</label>
        <br/>
        <br/>
        If not, fill out the following form
        <br/>
        <br/>
        Choose the age(s):
        <br/>
        <input type="checkbox" name="age_baby" value="true" id="baby" />
        <label for="age">baby</label>
        <br/>
        <input type="checkbox" name="age_young" value="true" id="young" />
        <label for="age">young</label>
        <br/>
        <input type="checkbox" name="age_adult" value="true" id="adult">
        <label for="age">adult</label>
        <br/>
        <input type="checkbox" name="age_senior" value="true" id="senior">
        <label for="age">senior</label>
        <br/>
        <br/>
        Choose the gender(s):
        <br/>
        <input type="checkbox" name="gender_male" value="true" id="male" />
        <label for="gender">male</label>
        <br/>
        <input type="checkbox" name="gender_female" value="true" id="female" />
        <label for="gender">female</label>
        <br/>
        <br/>
        Special characteristics (optional):
        <br/>
        <input type="checkbox" name="good_with_children" value="true" id="children" />
        <label for="children">Good with children</label>
        <br/>
        <input type="checkbox" name="good_with_cats" value="true" id="cats" />
        <label for="cats">Good with other cats</label>
        <br/>
        <input type="checkbox" name="good_with_dogs" value="true" id="dogs" />
        <label for="cats">Good with dogs</label>
        <br/>
        <br/>
        <input type="submit" value="Go" name="gobtn" />

    </form>
</body>

</html>