<!DOCTYPE html>
<html>

<head>
    <title>My Form</title>
</head>

<body>
Find the meow of your dreams!
    <form action="gresponse" method="get">
        <label for="username">Please enter a name:</label>
        <input type="text" id="username" name="username" />
        <br/>
        <input type="checkbox" name="greet_type" value="hello" id="hello" />
        <label for="hello">kitten</label>
        <br/>
        <input type="checkbox" name="greet_type" value="birthday" id="birthday">
        <label for="birthday">adult</label>
        <br/>
        <input type="checkbox" name="greet_type" value="birthday" id="birthday">
        <label for="birthday">senior</label>
        <input type="submit" value="Go" name="gobtn" />
    </form>
</body>

</html>