<!DOCTYPE html>
<html>

<head>
    <title>My Form</title>
</head>

<body>
Find the meow of your dreams!
    <form action="gresponse" method="get">
        Choose an age
        <br/>
        <input type="checkbox" name="age_baby" value="true" id="baby" />
        <label for="age">baby</label>
        <br/>
        <input type="checkbox" name="age_young" value="true" id="young" />
        <label for="age">young</label>
        <br/>
        <input type="checkbox" name="age_adult" value="true" id="adult">
        <label for="age">adult</label>
        <br/>
        <input type="checkbox" name="age_senior" value="true" id="senior">
        <label for="age">senior</label>
        <br/>
        Choose a gender
        <br/>
        <input type="checkbox" name="gender_male" value="true" id="male" />
        <label for="gender">male</label>
        <br/>
        <input type="checkbox" name="gender_female" value="true" id="female" />
        <label for="gender">female</label>
        <br/>
        <label for="location">What is your zip code?</label>
        <input type="text" id="zipcode" name="location" value="enter zip code"
        <br/>
        <label for="distance">How far are you willing to travel?</label>
        <input type="text" id="distance" name="distance" value="enter in miles (max:500 mi)"
        <br/>
        <input type="submit" value="Go" name="gobtn" />

    </form>
</body>

</html>